@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>Контактні дані автора</h3>

<address>
    Kyiv<br />
    Yangela Street, 20<br />
    <abbr title="Phone"></abbr>
    067-128-48-35
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:yuriy.alemosag@gmail.com">alemosag@gmail.com</a><br />
</address>